@tailwind base;
@tailwind components;
@tailwind utilities;

/* Table of Content
-----------------------------
 - Variables
 - Reset
 - Custom Elements
 - SCSS Style

 - Tailwind Layer Classes
   - Section Wrapper
   - Hero Button
-------------------------- */

/* Variables
--------------------------------------------------------------------------------------------------------------------- */
$dark: #383F4BFF;
$light: #F1F5F9FF;

$background-end: $dark;
$background-start: #000;
$blue-link-light: #2F81F7FF;
$foreground: $light;
/* End Variables --------------------------------------------------------------------------------------------------- */

/* Reset
--------------------------------------------------------------------------------------------------------------------- */
* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

ul, li, a, button {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
/* End Reset -------------------------------------------------------------------------------------------------------- */

/* SCSS Style
--------------------------------------------------------------------------------------------------------------------- */
body {
  height: 100vh;
  width: 100vw;
  color: $foreground;
  background: linear-gradient(to bottom, $background-start, $background-end);
  transition: background-color 0.2s ease-in-out;
}

.border-square,
.hero-button,
.avatar {
  border-color:$light;
  color:$light;
}

button {
  &.hero-button {

    &:hover {
      background-color: $blue-link-light;
      color: #F5F5F5FF;
    }
  }
}
/* End SCSS Style --------------------------------------------------------------------------------------------------- */

/* Tailwind Layer Classes
--------------------------------------------------------------------------------------------------------------------- */
@layer components {
  .section-wrapper {
    @apply
    flex flex-col
    relative
    h-screen
    text-center md:text-left
    md:flex-row
    max-w-7xl
    px-4
    justify-center
    mx-auto
    items-center;
  }

  .hero-button {
    @apply
    p-2
    m-1
    border
    rounded-full
    uppercase
    text-xs
    tracking-widest
    text-gray-500
    transition-all
    hover:scale-110
  }
}
/* End Tailwind Layer Classes --------------------------------------------------------------------------------------- */