/** Table of Content
  -----------------------------
  1.0 Reset
  2.0 Variables
  3.0 Mixins
  4.0 Light Theme
  5.0 Dark && Default Theme
 --------------------------- */

/* Reset
  ---------------------------------------------------------------------------------------------- */
*
  border: none
  box-sizing: border-box
  margin: 0
  padding: 0

img
  width: 100%
  height: 100%
  max-width: 100%

ul, li, a, button
  list-style: none
  text-decoration: none
  padding: 0
  margin: 0

/* End Reset ----------------------------------------------------------------------------------- */

/* Variables
  ---------------------------------------------------------------------------------------------- */
$dark: #383F4BFF
$light: #f8fafc

$background-end: $dark
$background-start: #000
$blue-link-light: #2F81F7FF
$foreground: $light
/* End Variables ------------------------------------------------------------------------------- */

/* Mixins
  ---------------------------------------------------------------------------------------------- */
@mixin theme-styles($color, $border-color, $background-start, $background-end)
  color: $color
  background: linear-gradient(to bottom, $background-start, $background-end)
  transition: background-color 0.2s ease-in-out

  .border-square,
  .hero-button,
  .avatar
    border-color: $border-color
    color: $border-color

    button
      &.hero-button
        &:hover
          color: #000000
/* End Mixins ---------------------------------------------------------------------------------- */


/* Light Theme
  ---------------------------------------------------------------------------------------------- */
[data-theme="light"]
  $background-end: #FFF
  $background-start: $light
  $blue-link-light: #2F81F7FF
  $foreground: $dark

  body
    @include theme-styles($foreground, $dark, $background-start, $background-end)
/* End Light Theme ----------------------------------------------------------------------------- */

/* Dark && Default Theme
  ---------------------------------------------------------------------------------------------- */
body
  height: 100vh
  width: 100vw
  @include theme-styles($foreground, $dark, $background-start, $background-end)

  .border-square,
  .hero-button,
  .avatar
    border-color: $light
    color: $light

    button
      &.hero-button
        &:hover
          background-color: $blue-link-light
          color: #F5F5F5FF
/* End Dark && Default Theme ------------------------------------------------------------------- */